header{
    background-color: #000;
    height: 50px;
}

footer{
    height: 50px;
    background-color: #000;
    border-top: 1px solid #fff;
    color: #fff;
    padding: 10px;
}

footer p{
    font-size: 14px;
    padding-left: 5px;
}


section.contenedorJuego{
    background-color: #86e26c;
    height: 100vh;
}

section.contenedor #input[type="text"]{
    width: 30%;
    padding: 10px;
    border-radius: 2%;
}

section.contenedorJuego #textoCambiar{
    background-color: #8b6565;
    height: 100vh;
    text-align: center;
    width: 100%;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: space-around;
}

section.contenedorJuego #textoCambiar p{
    color: #fff;
    vertical-align: middle;
    padding: 5px 40px;
    text-align: justify;
}