<div style="display:flex; gap: 5rem;">
    <div>
        <h1 id="ola">Carrito</h1>
        <div id="container">
            <div>
                <ul>
                    {{#each cartProducts}}
                    <ul>
                        <li>Producto: {{this.product}}</li>
                        <li>Cantidad: {{this.quantity}}</li>
                    </ul>
                    {{/each}}
                    <p>CartID = {{cartId}}</p>
                     <button onclick="purchaseCart()">Comprar</button>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartView.js"></script>

<script>
    // Función para comprar un carrito específico
 function purchaseCart(cartId) { // Recibe cartId como parámetro
        fetch(`/api/carts/${cartId}/purchase`, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); // Aquí puedes manejar la respuesta del servidor
        })
        .catch(error => {
            console.log(error);
        });
    }
</script>
